body{
  background-color: #EAF6EA;
}

/* fim do cabeçalho */
.texto-caixa{
  margin-top: 2%;
}
.texto-caixa p{
  margin-top: 2%;
}
.sobreoprojeto{
  width: 100%;
  height: 45vh;
  background-image: url(/images/background_leaves_green.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: black 1px 1px 10px;
}
.sobreoprojeto h1{
  font-size: 2rem; color: #EAF6EA;
  font-weight: 400;
  margin-left: 0.3%;
  position: absolute; top: 19.7%; left: 10%;
  z-index: 0;
  width: 30%;
}
.sobreoprojeto p{
  font-size: 1.1rem; color: #EAF6EA;
  font-weight: 400;
  margin-left: 0.3%;
  position: absolute; top: 26.5%; left: 10%;
  z-index: 0;
  width: 30%;
}
.sobreoprojeto h1 p{
  margin-left: 0.3%;
  font-size: large;
}
.texto-caixa{
  margin-left: 21.4%;
  width: 60%;
  text-align: justify;
}

/* parte dos cards */
.container h2{
  color: black; text-align: center; margin: auto; width: 100%;
  font-size: 2rem;
  margin-bottom: 2%;
}
.container{
  display: flex;
  justify-content: center;
}
.slider{
  position: relative;
  left: 53%;
  transform: translate(-50%);
  width: 800px;
  height: 500px;
  overflow: hidden;
}
.slides{
  display: flex;
  width: 300%;
  height: 100%;
}
.slides > input {
  display: none;
}
.slide{
  width: 33.33%;
  transition: 1s;
}
.slide img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
div.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.manual-btn{
  display: inline-block;
  padding: 8px;
  border: 2px solid #537052;
  border-radius: 50%;
  cursor: pointer;
}
.manual-btn:not(:last-child){
  margin-right: 32px;
}

.manual-btn:hover{
  background-color: #759073;
  transition: .4s;
}

#radio1:checked ~ .estado-inicial{
  margin-left: 0;
}

#radio2:checked ~ .estado-inicial{
  margin-left: -33.33%;
}

#radio3:checked ~ .estado-inicial{
  margin-left: -66.66%;
}
