.main-login {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 10vw 0px;
  margin-top: 8vh;
}

.left-login {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 3vw;
}

.card-login {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #537052;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: #EAF6EA;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #759073;
  color: #FAFFF9;
  font-size: 14pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #FAFFF9;
  margin-bottom: 10px;
}

.textfield > span {
  color: #C63637;
  margin-top: 4px;
  letter-spacing: 2px;
}

.textfield > input::placeholder {
  color: #FAFFF9;
}

.button {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #EAF6EA;
  background-color: #182b22;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #Ffffff52;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 650px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .card-login {
    width: 90%;
  }
}
