*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
body{
  background-color: #EAF6EA;
}
/* início do cabeçalho */
header{
  width: 100%;
  height: 10%;
  background-color: #537052;
  position: fixed;
  z-index: 1;
}
.navegacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navegacao .logo{
  margin-left: 80%;
  margin-top: 4.2%;
  width: 40px;
  color: #EAF6EA;
}
.navegacao ul{
  display: flex;
  align-items: center;
  margin-right: 37%;
  gap: 35px;
}
.navegacao ul li{
  margin-top: 3.5%;
}
.navegacao ul li a{
  font-size: 18px;
  color: #EAF6EA;
  font-weight: 600;
  padding-bottom: 4px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.navegacao ul li a:hover{
  color: #FAFFF9;
  border-bottom: 1px solid #FAFFF9;
}
/* deixa a linha embaixo do botão na tela em que está,
colocar como class "fixado" no li a href de sua tela */
.navegacao .fixado{
  color: #FAFFF9;
  border-bottom: 1px solid #FAFFF9;
}
.icone-usuario a{
  color: #EAF6EA;
  font-size: 20px;
  margin-top: 0.2;
  position: absolute;
  right: 2.8%;
  bottom: 26%;
}
.icone-usuario a:hover{
  color: #FAFFF9;
  border-bottom: 1px solid #FAFFF9;
}
/* fim do cabeçalho */
.texto-caixa{
  margin-top: 3%;
}
.sobreoprojeto{
  width: 100%; height: 45vh;
  background-image: url(img/WhatsApp\ Image\ 2024-04-18\ at\ 00.23.46.jpeg);
  background-attachment: fixed;
}
.sobreoprojeto h1{
  font-size: 2rem; color: #EAF6EA;
  font-weight: 400;
  margin-left: 0.3%;
  position: absolute; top: 19.7%; left: 10%;
  z-index: 0;
  width: 30%;
}
.sobreoprojeto p{
  font-size: 1.1rem; color: #EAF6EA;
  font-weight: 400;
  margin-left: 0.3%;
  position: absolute; top: 26%; left: 10%;
  z-index: 0;
  width: 30%;
}
.sobreoprojeto h1 p{
  margin-left: 0.3%;
  font-size: large;
}
.texto-caixa{
  margin-left: 21.4%;
  width: 60%;
  text-align: justify;
}
#carouselExampleInterval{
  width: 50%; margin: auto;
  z-index: 0;
}
.carousel-item img{
  margin-left: 4.5%;
  width: 30%;
}

/* parte dos cards */
.container{
  display: flex; align-items: center; justify-content:space-around; flex-wrap: wrap;
  height: 53vh; margin-bottom: 20px;
}
.container:hover{
  display: flex; align-items: center; justify-content:space-around; flex-wrap: wrap;
  height: 80vh; margin-bottom: 20px;
}
.card{
  background-color: #537052;
  overflow: hidden;
  border-radius: 16px;
  width: 23%;
  display: flex; flex-direction: column; align-items: center; justify-content: center;
  cursor: pointer;
}
.card .img{
  width: 300px; height: 170px;
  transition: 0.5s;
}
.card:hover .img{
  width: 350px;
  transition: 0.5s;
}
.card .content{
  padding: 0 20px;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}
.card:hover .content{
  padding: 20px;
  height: 190px;
  transition: 0.5s;
}
.card .content .desc{
  font-size: 30pt;
  text-align: justify;
  color: #EAF6EA;
}
.card .arrow{
  padding-top: 3.5px;
  padding-bottom: 7px;
  font-size: 20px;
  color: #EAF6EA;
}
.content .title{
  color: #EAF6EA;
}
.card:hover .arrow{
  opacity: 0;
}
.container .card .content p{
  font-size: 12px;
  color: #EAF6EA;
}
.container h2{
  color: black; text-align: center; margin: auto; width: 100%;
  font-size: 2rem;
}
footer{
  background-color: #537052;
  margin-top: 5%;
}
.footer-container{
  width: 100%;
  padding: 2px;
}
.footer-navegacao{
  margin: 5px 0;
}
.footer-navegacao ul{
  display: flex;
  justify-content: center;
  margin-top: 1.3%;
}
.footer-navegacao ul li a{
  color: #EAF6EA;
  margin: 20px;
  text-decoration: none;
  opacity: 2;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.footer-navegacao ul li a:hover{
  opacity: 0.4;
  color: #FAFFF9;
}
.footer-copy{
  background-color: #466145;
  padding: 1px;
  text-align: center;
}
.footer-copy strong{
  color: #EAF6EA;
}
