header{
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #537052;
  position: fixed;
  z-index: 1;
}
.navegacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navegacao {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  margin-right: 4vw;
  gap: 35px;
}
.navegacao .logo{
  margin-left: 80%;
  margin-top: 4.2%;
  width: 40px;
  color: #EAF6EA;
}
.navegacao a{
  font-size: 18px;
  color: #EAF6EA;
  font-weight: 600;
  padding-bottom: 4px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  margin-left: 1.5vw;
}
.navegacao > div a.active {
  color: #FAFFF9;
  border-bottom: 1px solid #FAFFF9;
}
.navegacao a:hover{
  color: #FAFFF9;
  border-bottom: 1px solid #FAFFF9;
}
